.market {
  height: 100%;
  width: 100%;

  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 100%;

  overflow: hidden;

  &_coins-list {
    height: 100%;
    overflow: auto;
  }
}